<section id="publications">
    <div class="container">
        <h3>Publications</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>
                    <strong>Combination of Multi-Scale Convolutional Networks and SVM for SAR ATR.</strong> [ <a href="{{ site.baseurl }}assets/IMCEC2018_Xia.pdf">pdf</a> ]<br>
                    Xiao Xia, Yunneng Yuan. <br>
                    2018 2nd IEEE Advanced Information Management, Communicates, Electronic and Automation Control Conference. (accepted)<br>
                </h5>
            </div>
        </div>
    </div>
</section>