<section id="publications">
    <div class="container">
        <h3>Publications</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>
                    <strong>Towards Comprehensive Repositories of Opinions.</strong> [ <a href="{{ site.baseurl }}assets/hotnets16-zhang.pdf">pdf</a> ]<br>
                    Han Zhang, Kasra Edalat Nejad, Amir Rahmati, and Harsha V. Madhyastha.<br>
                    15th ACM Workshop on Hot Topics in Networks (<strong><i>HotNets'16</i></strong>), Atlanta, GA, November 2016.<br>
                </h5>
            </div>
        </div>
    </div>
</section>